<div class="page">
    <div class="search_div">
      <h2>Searching for a document</h2>
      <form action="http://localhost:8000/" method="POST">

        <div class="col-25">
          <label for="doc_type"> Document Type </label>
        </div>


        <div class="custom_select">
          <select name="document" id="doc_type">
            <option value="Books">Books</option>
            <option value="Journals">Journals</option>
            <option value="empty">N/A</option>
          </select>
        </div>
        <br>
        <div class="col-25">
          <label for="field">Search Field: </label>
        </div>


        <div class="custom-select">
          <select name="field" id="field">
            <option value="empty"> N/A</option>
            <option value="id">ID</option>
            <option value="title">title</option>
            <option value="author">Author Name</option>
            <option value="date">Publication Date</option>
          </select>
        </div> <br>

        <div class="col-25">
          <label for="doc_attr">Search:</label>
        </div>

        <div class="custom-input">
          <input type="text" name="doc_attr" id="doc_attr">
        </div>

        <div class="custom-submit">
          <input type="submit" name="Submit" value="Submit" id="submit">
        </div>

      </form>
    </div>
</div>