<div class = "update_div">
    <h2> Updating the title of a document</h2>
    <form action = "http://localhost:8000/update_document" method = "POST">
        <label for = "doc_type"> Search Field:</label>
        <select name = "document" id = "doc_type">
            <option value = "Books">Books</option>
            <option value = "Journals">Journals</option>
            <option value = 'All'>All documents</option>
        </select> 

        <label for = "title"> Search: </label>
        <input type = "text" name = "doc_name" id = "title" required>
        <label for = "new_title">New Title: </label>
        <input type = "text" name = "new_name" id = "new_title" required>
        <input type = "submit" name = "submit" value = "Submit">
    </form>
</div>